.mb-2 {
    margin-right: 2%;
}
.top-company-detail {
    width: 100%;
    display: flex;
    margin-top: 2vh;
    flex-wrap: wrap;
}
.company-footer {
    display: flex;
    justify-content: center;
}
.img {
    padding: 10% 10% 0% 10%;

}
