.forgot-password-page {
  box-sizing: border-box;
  padding-top: 5%;
  padding-left: 30%;
  padding-right: 30%;
}

.forgot-password-page .form-content {
  padding: 0 30px;
}

.forgot-password-page .form-content .content-main {
  margin-top: 20px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 5px 5px 7px 0 #9d9d9d;
}

.forgot-password-page .form-content .content-middle {
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 20px;
  min-height: 50px;
}

.forgot-password-page .form-content .content-middle .forgot-password {
  float: right;
  padding-top: 5px;
}

.forgot-password-page .form-content button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: #3887e1;
  color: #fff;
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 15px;
  cursor: pointer;
}

.forgot-password-page .fieldGroup {
  margin-bottom: 15px;
}

.forgot-password-page .fieldGroup p {
  color: #333;
  font-weight: 700;
}

.forgot-password-page .fieldGroup input {
  text-align: center;
  width: 100%;
  height: 40px;
  font-size: 15px;
  border-radius: 3px;
  border: 1px solid #777;
  color: #333;
  padding: 0 10px;
  margin-bottom: 7px;
}
