.nav-control {
    display: flex; 
    justify-content: space-between !important;
   height: 10vh !important;

}

.brand {
   position: relative;
   left: 5%;
   font-size: 30px;
}

.me-auto {
   position: relative;
}

.login-or-user{
   position: relative;
   right: 5%;
}

.login-or-user a {
   color: white !important;
}

.user-and-logout {
   display: flex;
   justify-content: space-between;
}

.user-and-logout > * {
    margin: 0px 10px;
}

.wrap {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: 85%;
}

.top-company {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-top: 5vh;
}

.top-job {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-top: 5vh;
}
